---
const today = new Date();
---

<div class="text-block">
	<p>
		Написать Сереге
	</p>
	<p>
		<a class="go-back" href="https://vk.com/sfomchukov" target="_blank">VK</a>
		/
		<a class="go-back" href="https://t.me/sfomchukov" target="_blank">Telegram</a>
	</p>
	<p>Арт для сайта нарисован <a href="https://t.me/frenchic993" class="text-link">Френей</a></p>
	<p>&copy; {today.getFullYear()} askiphy. All rights reserved.</p>
</div>