---
import Blog from "./Blog.astro";
import Footer from "./Footer.astro";
---

<main>
    <div class="logo">
        <h1 class="text-blue-50 text-4xl text-center m-8 underline">Серегапомоги!!!</h1>
        <p class="text-blue-50 text-1xl text-center m-8">Передаю привет <a class="text-link" href="https://tapni.su">Леше</a></p>
    </div>
    <Blog showHidden={false} />
    <Footer />
</main>